a(name="reliability")
section.building
  .container
    h3="надежность дома гарантируется"
    .wrap
      .home_photo
        img(src="images/dom_gar.jpg", alt="")
    .info
      ul
        li!="<b>Качеством</b> строительных материалов"
        li!="<b>Ответственными</b> строителями и проектировщиками"
      .reg
        .reg_elem
          .icon
            img(src="http://placehold.it/640/480", alt="")
          h5="ФИО"
          h5="Должность"
          h5="Регалии"
        .reg_elem
          .icon
            img(src="http://placehold.it/640/480", alt="")
          h5="ФИО"
          h5="Должность"
          h5="Регалии"
        .reg_elem
          .icon
            img(src="http://placehold.it/640/480", alt="")
          h5="ФИО"
          h5="Должность"
          h5="Регалии"
  footer.blue
