a(name="reliability")
section.building
  .container
    h3="надежность дома гарантируется"
    .wrap
      .home_photo
        img(src="images/dom_gar.jpg", alt="")
    .info
      ul
        li!="<b>Качеством</b> строительных материалов"
        li!="<b>Ответственными</b> строителями и проектировщиками"
      .reg
        .reg_elem
          .icon
            img(src="images/prorab_2.png", alt="")
          h5.name="Мирзабаев Альберт Набидуллаевич"
          h5.status="начальник участка"
          h5.work
            span!="С 2005 по 2007г мастер г. Астана объект 'на водно-зеленомбульваре'."
            span!="2007-2014г прораб г. Астана жилые дома по гос программе в доль реки сарыбұлақ."
            span="С 2014 года тоо Eurasia Building прораб, начальник участка."
        .reg_elem
          .icon
            img(src="images/prorab_1.png", alt="")
          h5.name="Габдушев Ансаган Куандыкулы"
          h5.status="главный инженер"
          h5.work
            span!="Были построены следующие объекты:"
            span!="Ледовый дворец,г.Караганда,"
            span!="Теннисный центр,г.Караганда,"
            span!="Центральный стадион, г.Жезказган."
            span!="Реконструкция политехнического колледжа, г. Балхаш."
        .reg_elem
          .icon
            img(src="images/prorab_3.png", alt="")
          h5.name="Садуакас Дархан Тлекович"
          h5.status="Директор по производству"
          h5.work
            span!="2014 году принят Начальником Планово-экономического отдела с января 2015 года назначен Заместитель Генерального ДиректораТОО «EurasiaBuilding»."
            span!="Имеет общий стаж работы на промышленных предприятиях более 13 ти лет, из них стаж в руководящем составе 10 лет на предприятиях АО «АрселорМиттал Темиртау», ТОО «EurasiaBuilding»."
  footer.blue
