a(name="size")
section.size.table
  .container
    h2="приятные цены и финансовые выгоды"
    h4="выберите удобный вариант оплаты"
    ul
      li!="100%, ипотека, рассрочка"
      li!="квартиры от 7.2 млн. тнг или всего 182 750 тыс. тнг за м<sup>2</sup>"
      li!="цена 215 000 тнг/кв.м"
      li!="Действуют скидки: 199 950 тнг/кв.м при оплате 50%, 182 750 тнг/кв.м при 100% оплате/ипотеке"
    .price
      img(src!="<?php echo get_template_directory_uri();?>/images/price.png")
    .table_wrap
      table
        tr
          th!="квартира"
          th!="описание"
          th!="площадь, <br> кв метров" 
          th!="цена в тнг <br> за 1 м2" 
          th!="цена за квартиру, <br> тнг  млн " 
          th!="срок кредита, <br> лет" 
          th!="первый взнос, <br> тнг млн" 
          th!="ежемесячные платежи, <br> тнг тыс" 
        tr
          td!="<b>1 ком</b>"
          td!="самая минимальная цена"
          td!="39.15"   
          td!="182 750"   
          td!="7.2"   
          td!="20"   
          td!="1,5"   
          td!="92"   
        tr
          td!="<b>2 ком</b>"
          td!="удобная планировка"
          td!="56.72"   
          td!="182 750"   
          td!="10,4"   
          td!="20"   
          td!="2,1"   
          td!="135"       
        tr
          td!="<b>3 ком</b>"
          td!="самая дешевая трёшка в городе"
          td!="66.96"   
          td!="182 750"   
          td!="12.3"   
          td!="20"   
          td!="2.5"   
          td!="159"        
        tr
          td!="<b>4 ком</b>"
          td!="спец предложение: объединенная"
          td!="88.68"   
          td!="182 750"   
          td!="16.2"   
          td!="20"   
          td!="3,3"   
          td!="209"
    p="Указаны примерные платежи, для более точных расчетов связываетесь с менеджерами Комфортного Города или вашего банка"
    button#flat_calculator Расчитать цену на квартиру
  footer.blue
