a(name="prices")
section.main
  .container
    img(src="images/logo.png")
    h3!="вы будете уверены в том, что обеспечиваете себя и свою семью максимально безопасным, <br> удобным и комфортным жильем по самым привлекательным ценам"
    ul.half
      li!="<b>Современная городская архитектура</b> дома гармонично вписана в сложившийся ландшафт"
      li!="Пятно застройки <b>0.5 га</b> двор <b>27 соток</b>"
      li!="По всему периметру жилого комплекса высажены пирамидальные тополя, а территория детской площадки огорожена живой изгородью"
      li!="Очень <b>красивые подъезды</b> c неповторяющимся дизайном и качественной отделкой"
      li!="<b>Уют и комфорт в квартире</b> высокая степень теплошумоизоляции"
      li!="Общая площадь комфортных жилых помещений – более 10,000 м2 или более 160 квартир"
    ul.half.second
      li!="Однокомнатные квартиры <b>39,41 кв.м; </b>"
      li!="Двухкомнатные квартиры от <b>48,06</b> до <b>56,72 кв.м;</b>"
      li!="Трехкомнатные квартиры от <b>67,19</b> до <b>73,13</b> до кв.м;"
      li!="Четырехкомнатные квартиры <b>88,39</b> до кв.м."
      li!="<b>9 типов</b> комфортных планировок"
      li!="Четыре-шесть  квартир на этаже"
      li!="Очень <b>теплые стены</b>"
      li!="Высота потолка <b>2,7</b> метров"
  footer.blue
