section.balls
  a(name="position")
  .flexslider
    ul.slides
      li
        .background_slide(style="background: url(images/balls.jpg); background-size: cover;")
          header="развитие и приятный отдых для детей"
          .container
            img(src="images/slide1_1.jpg").first
      li
        .background_slide(style="background: url(images/green.jpg); background-size: cover;")
          header="Трехкомнатные квартиры по цене двухкомнатных"
          .container
            img(src="images/house_1.jpg").second
            a(href="http://vkomforte.kz/" target="_blank")
              img(src="images/house_2.jpg").third
  footer.white.slider_footer
  .info
    .container
      span!="как правильно выбрать квартиру "
        a(href="images/house_1.jpg")="скачать обзор"
      span!="экскурсия по комплексу "
        a(href="images/house_1.jpg")="видео"
      
