nav
  .container
    header
      a(href="#position" class="anchor")
        img.logo(src!="<?php echo get_template_directory_uri();?>/images/logo.png")
      .number-block
        .number!="+7 (7212) <b>922-100</b>"
        .button-open-form="Заказать обратный звонок"
      .burger
        .lines
      .social-block
        a(href="https://www.instagram.com/comfortcity_krg/" target="_blank"): img(src="http://seeklogo.com/images/I/instagram-new-2016-logo-D9D42A0AD4-seeklogo.com.png")
        a(href="https://vk.com/comfortcitykrg" target="_blank"): img(src="http://lh4.ggpht.com/-ipOOzC51kv8/UAg8xaUyrdI/AAAAAAAAAyE/ReZfZXC7ed8/LogoVK_200_thumb%25255B1%25255D.png?imgmax=800")
        a(href="https://ok.ru/comfortcity" target="_blank"): img(src="https://cdn.worldvectorlogo.com/logos/ok-ru.svg")
        a(href="https://www.facebook.com/profile.php?id=100015261728799" target="_blank"): img(src="https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png")
        a(href="https://twitter.com/vDdbAnA8wZUM49k?lang=ru" target="_blank"): img(src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png")
    footer
      .menu.close_menu
        .closer
        a(href="#house" class="anchor")="Район"
        a(href="#prices" class="anchor")="Дом"
        a(href="#reliability" class="anchor")="Надежность"
        a(href="#building" class="anchor")="Фотоотчет"
        a(href="#flats" class="anchor")="Квартиры"
        a(href="#newpeople" class="anchor")="Новосёлам"
        a(href="#blog" class="anchor")="Статьи"
        //a(href="#officces" class="anchor")="Офисы" rev_buy
        a(href="#developers" class="anchor")="Девелопер"
        a(href="#rev_buy" class="anchor")="Отзывы"
        //a(href="#reviews" class="anchor")="Отзывы"
        a(href="#size" class="anchor")="Цены и скидки"
        a(href="#sales" class="anchor")="Продажи"
        .number-block.mobile_number-block
          .number!="+7 (7212) <b>922-100</b>"
          .button-open-form="Заказать обратный звонок"
