nav
  .container
    header
      a(href="#position" class="anchor")
        img.logo(src="images/logo.png")
      .number-block
        .number!="+7 (7212) <b>980-250</b>"
        .button-open-form="Заказать обратный звонок"
      .burger
        .lines
    footer
      .menu.close_menu
        .closer
        a(href="#house" class="anchor")="Район"
        a(href="#prices" class="anchor")="Дом"
        a(href="#reliability" class="anchor")="Надежность"
        //a(href="#building" class="anchor")="Строительство"
        a(href="#flats" class="anchor")="Квартиры"
        a(href="#newpeople" class="anchor")="Новосёлам"
        a(href="#officces" class="anchor")="Офисы"
        a(href="#developers" class="anchor")="Девелопер"
        a(href="#reviews" class="anchor")="Отзывы"
        a(href="#flat_price" class="anchor")="Цены и скидки"
        a(href="#sales" class="anchor")="Продажи"
      
