nav
  .container
    header
      img.logo(src="images/logo.png")
      .number-block
        .number!="+7 (7212) <b>980-250</b>"
        .button-open-form="Заказать обратный звонок"
      .burger
        .lines
    footer
      .menu.close_menu
        .closer
        a(href="/")="Район"
        a(href="/")="Дом"
        a(href="/")="Надежность"
        a(href="/")="Строительство"
        a(href="/")="Квартиры"
        a(href="/")="Дизайны"
        a(href="/")="Новосёлам"
        a(href="/")="Офисы"
        a(href="/")="Девелопер"
        a(href="/")="Отзывы"
        a(href="/")="Цены и скидки"
        a(href="/")="Продажи"
      
