a(name="flats")
section.plans
  .wrap
    header="Выберите этаж и подъезд"
    section.config
      .house_config
        img(src="images/chooseFlat.jpg")
        .content
          .first_front
            //- .shape_elem
            //-   svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '460px', left: '-23px' })
            //-     rect(class="shape_rect" width="385" height="31.33")    
            //-   .info_window(style="top: 390px; left: 420px;")
            //-     h3="1 подъезд"
            //-     h3="1 этаж"
            //-     h3="7 квартир в продаже"
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '422px', left: '-23px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 340px; left: 420px;")
                h3="1 подъезд"
                h3="2 этаж"
                h3="7 квартир в продаже"   
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '388px', left: '-23px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 300px; left: 420px;")
                h3="1 подъезд"
                h3="3 этаж"
                h3="7 квартир в продаже" 
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '354px', left: '-23px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 260px; left: 420px;")
                h3="1 подъезд"
                h3="4 этаж"
                h3="7 квартир в продаже"   
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '320px', left: '-23px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 220px; left: 420px;")
                h3="1 подъезд"
                h3="5 этаж"
                h3="7 квартир в продаже" 
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '286px', left: '-23px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 180px; left: 420px;")
                h3="1 подъезд"
                h3="6 этаж"
                h3="7 квартир в продаже"   
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '252px', left: '-23px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 140px; left: 420px;")
                h3="1 подъезд"
                h3="7 этаж"
                h3="7 квартир в продаже"   
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '224px', left: '-23px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 100px; left: 420px;")
                h3="1 подъезд"
                h3="8 этаж"
                h3="7 квартир в продаже"    
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '190px', left: '-23px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 60px; left: 420px;")
                h3="1 подъезд"
                h3="9 этаж"
                h3="7 квартир в продаже"   
            //- .shape_elem
            //-   svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '160px', left: '-23px' })
            //-     rect(class="shape_rect" width="385" height="31.33")    
            //-   .info_window(style="top: 20px; left: 420px;")
            //-     h3="1 подъезд"
            //-     h3!="<span>10</span> этаж"
            //-     h3="4 квартиры в продаже"       
          .second_front
            //- .shape_elem
            //-   svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '460px', left: '384px' })
            //-     rect(class="shape_rect" width="385" height="31.33")    
            //-   .info_window(style="top: 390px; left: 95px;")
            //-     h3="2 подъезд"
            //-     h3="1 этаж"
            //-     h3="6 квартир в продаже"
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '422px', left: '384px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 340px; left: 95px;")
                h3="2 подъезд"
                h3="2 этаж"
                h3="6 квартир в продаже"   
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '388px', left: '384px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 300px; left: 95px;")
                h3="2 подъезд"
                h3="3 этаж"
                h3="6 квартир в продаже" 
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '354px', left: '384px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 260px; left: 95px;")
                h3="2 подъезд"
                h3="4 этаж"
                h3="6 квартир в продаже"   
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '320px', left: '384px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 220px; left: 95px;")
                h3="2 подъезд"
                h3="5 этаж"
                h3="6 квартир в продаже" 
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '286px', left: '384px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 180px; left: 95px;")
                h3="2 подъезд"
                h3="6 этаж"
                h3="6 квартир в продаже"   
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '252px', left: '384px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 140px; left: 95px;")
                h3="2 подъезд"
                h3="7 этаж"
                h3="6 квартир в продаже"   
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '224px', left: '384px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 100px; left: 95px;")
                h3="2 подъезд"
                h3="8 этаж"
                h3="6 квартир в продаже"    
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '190px', left: '384px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 60px; left: 95px;")
                h3="2 подъезд"
                h3="9 этаж"
                h3="6 квартир в продаже"    
            //- .shape_elem
            //-   svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '160px', left: '384px' })
            //-     rect(class="shape_rect" width="385" height="31.33")    
            //-   .info_window(style="top: 40px; left: 95px;")
            //-     h3="2 подъезд"
            //-     h3!="<span>10</span> этаж"
            //-     h3="4 квартиры в продаже"     
          .third_front
            //- .shape_elem
            //-   svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '460px', left: '787px' })
            //-     rect(class="shape_rect" width="385" height="31.33")    
            //-   .info_window(style="top: 390px; left: 475px;")
            //-     h3="3 подъезд"
            //-     h3="1 этаж"
            //-     h3="7 квартир в продаже"
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '422px', left: '787px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 340px; left: 475px;")
                h3="3 подъезд"
                h3="2 этаж"
                h3="7 квартир в продаже"   
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '388px', left: '787px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 300px; left: 475px;")
                h3="3 подъезд"
                h3="3 этаж"
                h3="7 квартир в продаже" 
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '354px', left: '787px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 260px; left: 475px;")
                h3="3 подъезд"
                h3="4 этаж"
                h3="7 квартир в продаже"   
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '320px', left: '787px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 220px; left: 475px;")
                h3="3 подъезд"
                h3="5 этаж"
                h3="7 квартир в продаже" 
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '286px', left: '787px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 180px; left: 475px;")
                h3="3 подъезд"
                h3="6 этаж"
                h3="7 квартир в продаже"   
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '252px', left: '787px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 140px; left: 475px;")
                h3="3 подъезд"
                h3="7 этаж"
                h3="7 квартир7 в продаже"   
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '224px', left: '787px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 100px; left: 475px;")
                h3="3 подъезд"
                h3="8 этаж"
                h3="7 квартир в продаже"    
            .shape_elem
              svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '190px', left: '787px' })
                rect(class="shape_rect" width="385" height="31.33")    
              .info_window(style="top: 60px; left: 475px;")
                h3="3 подъезд"
                h3="9 этаж"
                h3="7 квартир в продаже"    
            //- .shape_elem
            //-   svg(class="shape_elem_svg" xmlns="http://www.w3.org/2000/svg" width="385" height="31.33" viewBox="0 0 385 31.33" style={ position: 'absolute', top: '160px', left: '787px' })
            //-     rect(class="shape_rect" width="385" height="31.33")    
            //-   .info_window(style="top: 400px; left: 475px;")
            //-     h3="3 подъезд"
            //-     h3!="<span>10</span> этаж"
            //-     h3="4 квартиры в продаже"       
      .plan.plan_A.close 
        .closer
        h3="Выберите квартиру"
        .content 
          img(src="images/plans/plan_a/block_a.png")
          // svg elems
          include ../svg/plan_a_1.jade
          include ../svg/plan_a_2.jade
          include ../svg/plan_a_3.jade
          include ../svg/plan_a_4.jade
          include ../svg/plan_a_5.jade 
          include ../svg/plan_a_6.jade 
          include ../svg/plan_a_7.jade
      .plan.plan_B.close
        .closer
        h3="Выберите квартиру"
        .content 
          img(src="images/plans/plan_b/block_b.png")
          // svg elems
          include ../svg/plan_b_1.jade
          include ../svg/plan_b_2.jade 
          include ../svg/plan_b_3.jade 
          include ../svg/plan_b_4.jade
          include ../svg/plan_b_5.jade
          include ../svg/plan_b_6.jade
      .plan.plan_C.close
        .closer
        h3="Выберите квартиру"
        .content 
          img(src="images/plans/plan_c/block_c.png")
          // svg elems
          include ../svg/plan_d_1.jade
          include ../svg/plan_d_2.jade
          include ../svg/plan_d_3.jade
          //include ../svg/plan_d_4.jade
          include ../svg/plan_d_5.jade
          include ../svg/plan_d_6.jade
          include ../svg/plan_d_7.jade
          include ../svg/plan_d_8.jade 
  section.plan_info.close
    .closer
    h3="Описание квартиры"
    .container
      img(id="image_plan" src="images/compas.png" alt="compas")
      .image_plan
        div.price(style="display: none")
          span="цена"
          br
          span#price_plan="15 616 800 тнг"
        img#img_plan(src="images/plans/plan_a/block_a_6.png")
      .text_plan
        h4#header_plan="1 подъезд, 2 этаж, квартира №16"
        table
          tr
            td="тип планировки "
            td#type_plan="студия"
          tr
            td="количество комнат"
            td#quantityRoom_plan="3"
          tr
            td="общая площадь"
            td
              span#allSquare_plan="72,3м"
              sup="2"
          tr
            td="жилая площадь"
            td
              span#liveSquare_plan="51,3м"
              sup="2"
          tr
            td="гостиная + кухня ниша"
            td
              span#kitchenSquare_plan="24,1м"
              sup="2"
          tr
            td="спальня 1"
            td
              span#bedroomOneSquare_plan="17,9м"
              sup="2"
          tr
            td="спальня 2"
            td
              span#bedroomTwoSquare_plan="17,9м"
              sup="2"
          tr
            td="спальня 3"
            td
              span#bedroomThirdSquare_plan="17,9м"
              sup="2"
          tr
            td="туалет"
            td#toulet_plan!="1"
          tr
            td="балкон"
            td#balcon_plan!="1"
        
        
  footer.white
