a(name="price")
section.profit_2.profit.close_tab
  .container
    h2="Как организовать переезд в квартиры"
    ul.half
      li
        span!="Правильно выберите <b>компанию грузоперевозчика</b> <br> - Проведите анализ цен, не выбирайте самого дешевого грузоперевозчика <br> - Прочитайте отзывы в интернете о работе компании"
      li
        span!="Планируйте дату переезда <b>за 2 недели</b> <br> - Срочный переезд или переезд в праздничные дни стоит дороже <br> - Легче собрать упаковать вещи в удобном темпе <br> - Больше выбор свободных грузоперевозчиков"
      li
        span!="Сбор и сортировка вещей <br> - Упакуйте в пупырчатый полиэтилен: бытовую технику, жесткую мебель, бьющиеся предметы <br> - Сначала в машину грузите крупную мебель и бытовую технику <br> - Мягкие вещи (одежду, сумки, одеяла) запечатайте в вакуумные мешки, это сэкономит пространство <br> - Нумеруйте и подписывайте коробки во избежание потерь при переезде и путаницы при распаковке <br> - По приезду проверьте номера на коробках: все ли коробки перенесены от №1 до последней"
    ul.half.second
      li
        span!="Подготовите <b>новую</b> квартиру <br> - Двери и косяки оберните мягкой и толстой тканью <br> - Положите на пол картон, можно разрезать коробки из под бытовой техники"
      li
        span!="<b>Выгрузка вещей</b> в новою квартиру <br> - Сначала следует расставить мебель, крупную технику и предметы интерьера. <br> - Начинать нужно с дальней комнаты."
  footer.blue
