a(name="profit")
section.profit.close_tab
  .container
    h2="почему сейчас выгодно купить большую квартиру"
    ul.half
      li
        span!="помните: меньше бытовых конфликтов и <b>комфортное проживание</b> при: <br> - количество комнат: <b>1.2</b> комнаты на члена семьи <br> - общая площадь квартиры: <b>30 м²</b> и более на одного члена семьи <br> - в итоге у каждого члена семьи будет <b>свое место</b> для вещей и отдыха <br> - если планируете двух детей, то трехкомнатная квартира <br> – минимальный размер для уютной жизни"
      li
        span!="для разнополых детей нужны <b>отдельные комнаты</b> <br> - их <b>легче</b> будет воспитывать в связи с половыми различиями <br> - дети будут чувствовать себя <b>свободнее</b>, у них не будет стеснения <br> - будет <b>меньше конфликтов</b> из-за деления игрушек, кто и когда будет засыпать "
    ul.half.second
      li
        span!="всегда нужна <b>дополнительная комната</b> <br> - для гостей и родственников <br> - занятий любимым хобби <br> - работа вечером в спокойной обстановке "
      li
        span!="большая квартира <b>выгодна</b> <br> - Большая квартира Часто дешевле в пересчете на квадратный метр <br> - В будущем все равно придется расширять жилплощадь <br> - Маленькую квартиру дороже обменять или расширить, так как цены на квартиры растут <br> - Будут дополнительные расходы на переезд и ремонт <br> - Расходы на большую ипотеку можно будет уменьшить через 2-3 года, так как процент ипотеки регулярно сокращается, а зарплаты растут"
  footer.blue
