section.report
  a(name="building")
  header
    .container
      h3="честный фотоотчет о ходе строительства"
      p!="Опытные строители тщательно соблюдают график строительства. <br> Профессионально выполняют все нормативы строительства. <br> Следите за еженедельными обновлением как растет комфортный дом."
  .player
  .folders
    .container
      .folder_elem
        .wrap
          .date="27 июня 2016"
          .text="фото стройки"
      .folder_elem
        .wrap
          .date="27 июня 2016"
          .text="фото стройки"
      .folder_elem
        .wrap
          .date="27 июня 2016"
          .text="фото стройки"
  footer.white
