a(name="sales")
section.review
  .container
    h2="профессиональный и вежливый отдел продаж подробно расскажет о квартирах"
    .review_block
      .elem
        .header
          img(src="images/sales.jpg", alt="")
        .name="Владимир Поспелков"
        .status="директор отдела продаж"
        .adress!="Номер: +7 (705) 566 57 05"
        p="Рады предложить доступные квартиры для комфортной жизни в перспективном районе с развитой и привлекательной инфраструктурой. Обязательно обращаетесь и я расскажу о выгодных ценах и как можно сэкономить при выплате кредита."
      .elem
        .header
          img(src="images/manager.jpg", alt="")
        .name="Дамир Токтамысов"
        .status="менеджер по продажам"
        p="С удовольствием помогу выбрать оптимальную квартиру, с учетом особенностей вашей семьи и ваших планов. Обязательно звоните и я расскажу вам важные детали в выборе квартиры."
        .adress!="Караганда <br> ул. Приканальная и проспект Строителей <br> +7 (7172) 922-100 <br> Режим работы: <br> Пн.-Пт. с 09:00 до 18:30 <br> Обед с 12:30 до 14:00"
      .elem
        .header
          img(src="images/sales_2.jpg", alt="")
        .name="Садвокасов Асхат"
        .status="менеджер по продажам"
        p="Всегда с радостью расскажу о комфортных и уютных квартирах в надежном доме. Обязательно звоните, и я расскажу важную информацию о переезде."
        .adress!="Караганда <br> ул. Приканальная и проспект Строителей <br> +7 (7172)922-100 <br> Режим работы: <br> Пн.-Пт. с 09:00 до 18:30 <br> Обед с 12:30 до 14:00"
  footer.white
