|<?php 
|  $part = array(
|    'post_type' => 'team', //Тип поста
|    'posts_per_page' => 10,//Постов на одной странице
|    'category_name' => 'team' //Категория постов
|  );
|?>

a(name="sales")
section.review
  .container
    h2="профессиональный и вежливый отдел продаж подробно расскажет о квартирах"
    .review_block
      |<?php
      |  $lastBlog = new WP_Query($part);
      |  if( $lastBlog->have_posts() ):
      |    while($lastBlog->have_posts() ): $lastBlog->the_post();
      |      $photo = types_render_field( 'photo__team', array('raw' => true) );
      |      $name = types_render_field( 'name__team', array('raw' => true) );
      |      $status = types_render_field( 'status__team', array('raw' => true) );
      |      $comment = types_render_field( 'comment__team', array('raw' => true) );
      |      $contact = types_render_field( 'contact__team', array('html' => true) );
      |?>
      .elem
        .header
          img(src!="<?php echo $photo; ?>", alt="")
        .name!="<?php echo $name?>"
        .status!="<?php echo $status; ?>"
        p!="<?php echo $comment; ?>"
        .adress!="<?php echo $contact; ?>"
      |<?php
      |    endwhile;
      |  endif;
      |?>
  footer.white
