section.choose
  section.container
    h2="как правильно выбрать жилье"
    ul
      li
        span!="необходимо <b>определить район</b> <br> - при выборе район в радиусе 5 км: будет знакомые магазины, ТРЦ, школы и т.д. <br> - новая география это поиск и смена всех привычных посещаемых мест "
      li
        span!="выбираем <b>необходимую инфраструктуру</b> <br> -  для семьи с возрастом супругов до 40 лет в семье с детьми необходимы детские сады, школы и детские больницы, плюс магазины под рукой <br> - для семьи с возрастом супругов более 50-60 лет важна тишина и  близость парков "
      li
        span!="определяем <b>размер квартиры</b> <br> - для комфортного и позитивного проживания, метраж квартиры должен быть из расчета 22-30 м2 на человека. Это обеспечит комфортную жизнь и уменьшит бытовые конфликты <br>  - количество  комнат рассчитывается по формуле: члены семьи х 1.2 комнаты, в расчет возьмите будущих детей"
      li
        span!="а дополнительная комната позволяет разместить отдельно детей особенно разнополых, принять в гости родителей или заняться вечерней работой, хобби и пр. "
      li
        span!="оцениваем насколько <b>нравится место дома</b> <br> - панорама из окон: парк, дорога, дворы <br> - транспортная доступность: остановки, подъездные пути"
      li
        span!="выбираем <b>способ оплаты</b> <br> - 100% оплаты, ипотека, рассрочка"
  footer.white
