section.sales
  a(name="sales")
  header="трёхкомнатные квартиры по цене двухкомнатных"
  .container
    .flexslider
      ul.slides
        li: img(src="images/house_1.jpg")
        li: img(src="images/house_1.jpg")
  footer.white
  .info
    .container
      span!="как правильно выбрать квартиру "
        a(href="images/house_1.jpg")="скачать обзор"
      span!="экскурсия по комплексу "
        a(href="images/house_1.jpg")="видео"
    
