section.map
  header
    .container
      h3="развитая и привлекательная инфраструктура района"
      ul.half
        li="Перспективный район на Юго-Востоке в микрорайоне Орбита."
        li="До центра всего 3 км или 3-5 минуты на машине."
        li="Четырехполосная автомагистраль шумоизолирована зелеными деревьями."
        li="Удобный въезд и выезд из дома со светофором на главную улицу в обе стороны."
        li="Тихий, экологически чистый район."
  footer
    .container
      .button_bottom
        .text.active="много магазинов"
      .button_bottom
        .text="большой выбор учебных заведений"
      .button_bottom
        .text="активный отдых и развлечения"
      .button_bottom
        .text="здоровье"
