section.flat_price.table
  a(name="flat_price")
  .container
    h2="как можно снижать платежи по ипотеке"
    .table_wrap
      table
        tr
          th!="квартира"
          th!="описание"
          th!="площадь, <br> кв метров" 
          th!="цена в тнг <br> за 1 м2" 
          th!="цена за квартиру, <br> тнг  млн " 
          th!="срок кредита, <br> лет" 
          th!="первый взнос, <br> тнг млн" 
          th!="ежемесячные платежи, <br> тнг тыс" 
        tr
          td!="<b>1 ком</b>"
          td!="самая минимальная цена"
          td!="40"   
          td!="216"   
          td!="8,6"   
          td!="20"   
          td!="1,7"   
          td!="88"   
        tr
          td!="<b>2 ком</b>"
          td!="удобная планировка"
          td!="50"   
          td!="216"   
          td!="10,8"   
          td!="20"   
          td!="2,1"   
          td!="110"       
        tr
          td!="<b>3 ком</b>"
          td!="самая дешевая трёшка в городе"
          td!="70"   
          td!="216"   
          td!="15"   
          td!="20"   
          td!="3,0"   
          td!="155"        
        tr
          td!="<b>4 ком</b>"
          td!="спец предложение: объединенная"
          td!="88"   
          td!="216"   
          td!="19"   
          td!="20"   
          td!="3,8"   
          td!="195"
    p="Указаны примерные платежи, для более точных расчетов связываетесь с менеджерами Комфортного Города или вашего банка"
  footer.blue
