section.balls
  a(name="prices")
  header="развитие и приятный отдых для детей"
  .container
    .flexslider
      ul.slides
        li: img(src="images/slide1_1.jpg")
        li: img(src="images/slide1_1.jpg")
  footer.white
  .info
    .container
      span!="как правильно выбрать квартиру "
        a(href="images/house_1.jpg")="скачать обзор"
      span!="экскурсия по комплексу "
        a(href="images/house_1.jpg")="видео"
    
