section.advice
  a(name="newpeople")
  header
    .container
      h3="полезные советы счастливым новоселам"
      p="полезные советы помогут выбрать квартиру, организовать переезд и снизить платежи по ипотеке, наиболее эффективно"
  footer
    .container
      .button_bottom
        .text="как правильно выбрать квартиру"
      .button_bottom
        .text="почему сейчас выгодно купить большую квартиру"
      .button_bottom
        .text="как организоват переезд"
      .button_bottom
        .text="как снизить процент по ипотеке"
