section.price.table.close_tab
  a(name="price")
  .container
    h2="как можно снижать платежи по ипотеке"
    table
      tr
        th="показатель"
        th="сейчас"
        th="в ближайшем" 
      tr
        td!="<b>рыночный % по ипотеке</b>"
        td!="15%"
        td!="12% и далее до 10% и ниже"   
      tr
        td!="цена квартиры"
        td!="200 тыс тнг/м2  <br> (50 м2 = 10 млн тнг)"
        td!="300 <br> (50 м2 = 15 млн тнг)"     
      tr
        td!="<b>доля ипотеки в цене квартиры</b>"
        td!="70% <br> 7 млн тнг"
        td!="40-50% <br> Те же 7 млн"       
      tr
        td!="надежность платежей заемщика"
        td!="неизвестна"
        td!="платит своевременно три года"    
      tr
        td!="зарплата"
        td!="80 тыс тнг"
        td!="100 тыс тнг"   
      tr
        td!="платежи"
        td!="100 тыс тнг"
        td!="70 тыс тнг"  
    p="Можно обращаться в банк пересматривать  условия договора ипотеки на снижение процента раз в 3-5 лет. Если банк будет отказываться пересматривать условия, можно обратиться в другой банк за новым договором по текущим более низким % ипотеки (рефинансирование)."
  footer.white
