section.building
  a(name="reliability")
  .container
    .wrap
      .home_photo
        img(src="http://placehold.it/640/480", alt="")
    .info
      h3="надежность дома гарантируется"
      h4="качеством строительных материалов, ответственными строителями и проектировщиками"
      .reg
        .reg_elem
          .icon
            img(src="http://placehold.it/640/480", alt="")
          h5="ФИО"
          h5="Должность"
          h5="Регалии"
        .reg_elem
          .icon
            img(src="http://placehold.it/640/480", alt="")
          h5="ФИО"
          h5="Должность"
          h5="Регалии"
        .reg_elem
          .icon
            img(src="http://placehold.it/640/480", alt="")
          h5="ФИО"
          h5="Должность"
          h5="Регалии"
  footer.blue
