a(name="flat_price")
section.flat_price.table.close_tab
  .container
    h2="как можно снижать платежи по ипотеке"
    .table_wrap
      table
        tr
          th!="Показатель"
          th!="Сейчас"
          th!="В ближайшем" 
        tr
          td!="<b>Рыночный % по ипотеке</b>"
          td!="15%"
          td!="12% и далее до 10%"    
        tr
          td!="<b>Цены квартиры</b>"
          td!="200 тыс тнг/м2 <br> (50 м2 = 10 млн тнг)"
          td!="300 тыс тнг/м2 <br> (50 м2 = 15 млн тнг)"           
        tr
          td!="<b>Доля ипотеки в цене квартиры</b>"
          td!="70% <br> 7 млн тнг"
          td!="40 - 50% <br> Те же 7 млн"  
        tr
          td!="<b>Надежность платежей заемщика</b>"
          td!="неизвестна"
          td!="платит своевременно три года" 
        tr
          td!="<b>Зарплата</b>"
          td!="80 тыс тнг"
          td!="100 тыс тнг"    
        tr
          td!="<b>Платежи</b>"
          td!="100 тыс тнг"
          td!="70 тыс тнг"  
    p="Указаны примерные платежи, для более точных расчетов связываетесь с менеджерами Комфортного Города или вашего банка"
  footer.white
