a(name="developers")
section.success
  .container
    h2="успешные проекты надежного девелопера"
    p="Надежный застройщик:"
    ul
      li
        span!="Контроль качества на всех этапах строительства"
      li
        span!="Слаженная команда управленцев"
      li
        span!="Сильные финансовые партнеры: Жилстрой, АзияКредит"
      li
        span!="Соблюдаются стандарты строительства: ГОСТЫ и СНИПы"
    .company
      .elem
        img(src!="<?php echo get_template_directory_uri();?>/images/comfort.jpg", alt="")
      .elem
        a(href="http://vkomforte.kz/")
          img(src!="<?php echo get_template_directory_uri();?>/images/shan.jpg", alt="")
      .elem
        img(src!="<?php echo get_template_directory_uri();?>/images/dom.jpg", alt="")
  footer.white  
